  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

  * {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: 'Josefin Sans', sans-serif;
  }

  .container {
      min-height: 100vh;
  }

  .box {
      position: relative;
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10%;
  }

  .Plain {
      margin-left: 40px;
      position: absolute;
      z-index: -1;
      background-color: black;
      width: 400px;
      top: 0;
      bottom: 0;
  }

  .box h1 {
      color: aliceblue;
      font-size: 2.5em;
      letter-spacing: 2px;
  }

  .box menu {
      display: flex;
      align-items: center;
      gap: 32px;
  }

  .navbar a {
      padding: 10px;
      color: black;
  }

  .navbar a:first-child {
      background: black;
      color: aliceblue;
  }

  .navbar a:hover {
      background-color: black;
      transition: .3s ease-in-out;
      color: aliceblue;
  }

  .icon {
      width: 150px;
      display: flex;
      justify-content: space-between;
      font-size: 1.2em;
  }

  .fa-bars {
      font-size: 1.2em;
      margin-left: 20px;
      display: none;
  }

  .main {
      padding: 40px 10%;
      display: flex;
      gap: 32px;
      font-size: 1.3em;
  }

  .main img {
      height: 600px;
      object-fit: cover;
      object-position: top;
  }

  .main img,
  .main .text {
      width: 50%;
  }

  .main .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 48px;
  }

  .main span {
      color: gray;
  }

  .text a {
      padding: 10px 30px;
      background-color: black;
      color: aliceblue;
      width: max-content;
  }